@model MetalWork.Models.ProductComposition

<h2>Изменить состав изделия</h2>

@using (Html.BeginForm())
{
    @Html.DropDownListFor(model => model.MaterialId, ViewBag.Material as SelectList)
    <br />
    @Html.DropDownListFor(model => model.ProductId, ViewBag.Product as SelectList)
    <br />
    @Html.TextBoxFor(m => m.Count, new { @class = "form-main", @placeholder = "Количество", @type = "number" })
    <br />
    <div class="main-footer">
        <input type="submit" class="submit-buttom" value="Добавить" />
        @Html.ActionLink("Отменить", "Index")
    </div>
}