@model MetalWork.Models.Product

<h2>Добавить товар</h2>

@using (Html.BeginForm())
{
    @Html.TextBoxFor(m => m.Name, new { @class = "form-main", @placeholder = "Название" })
    <br />
    @Html.TextBoxFor(m => m.Price, new { @class = "form-main", @placeholder = "Цена", @type="number" })
    <br />
    <div class="main-footer">
        <input type="submit" class="submit-buttom" value="Добавить" />
        @Html.ActionLink("Отменить", "Index")
    </div>
}